<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for card in page.card %}
    
      <div class="col">
        <a href="{{ card.link }}" style="text-decoration: none; color: #000;">
          <div class="card">
            <img src="{{ card.image }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ card.title }}</h5>
              <p class="card-text">{{ card.content }}</p>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
  </div>


  