<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for card in page.card %}
    <a href="{{ card.link }}" style="text-decoration: none; color: #000;">
      <div class="col">
        <div class="card">
          <img src="{{ card.image }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ card.title }}</h5>
            <p class="card-text">{{ card.content }}</p>
          </div>
        </div>
      </div>
    </a>
      {% endfor %}
  </div>