<form action="https://formspree.io/f/mqkjyepw" method="POST">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="John Doe" required>
        </div> <br>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="name@student.curtin.edu.au" name="email" required>
    </div> <br>
    <div class="form-group">
        <label for="message">Message</label>
        <textarea class="form-control" id="message" rows="3" name="message" required>Hi DBE Makerspace Team,</textarea>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>